@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
	padding: 0;
	border: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }

  ol, ul {
    list-style: none;
  }

  select {
    border: none;
    outline: none;
  }

  h2 {
    margin: 0;
    padding: 0;
  }

  p{
    margin: 0;
    padding: 0;
  }
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(#041833, #0d2f57);
}

body::-webkit-scrollbar-thumb {
  background-color: #1f69c4;
  border-radius: 20px;
}